* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  margin: 20px 0;
  text-align: center;
}

.task-app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.freecodecamp-logo-container {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo freecodecamp */
.freecodecamp-logo {
  width: 400px;
  height: 50px;
}

.task-list-main {
  width: 600px;
  height: 100%;
  background-color: #b0b0b5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}